#container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	font: 13px Arial, sans-serif;
	border: 1px solid black;
	background: white;
}
#messages {
	position: absolute;
	top: 0;
	bottom: 22px;
	left: 0;
	right: 0;
	margin: 0;
	overflow: auto;
	padding: .4em;
}
#input {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 22px;
	width: 100%;
	display: block;
	padding: 0;
	border: none;
	border-top: 1px solid black;
	font: 13px Arial, sans-serif;
}
.message {
	/*min-height: 27px;*/
}
.status {
	font-style: oblique;
}
.message img {
	/*width: 27px;
	height: 27px;
	float: left;*/
	width: 1em;
	height: 1em;
	margin-right: 5px;
}
.message span {
	margin-right: .4em;
	font-weight: bold;
	color: gray;
}
.time, .date {
	color: gray;
	font-size: small;
	text-align: center;
}